
<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Adicionar tarefas</title>
    </head>
    <body>

        <div class="container my-4">
            <h3>Adicionar tarefa</h3>
            
            <div class="card my-3">
                {% if messages %}
                    {% for msg in messages %}
                        <p class="btn btn-success">{{msg}}</p>
                    {% endfor %}
                {% endif %}

                <h5 class="card-header">Tarefa</h5>
                <div class="card-body">
                    <form method="post" action="/add">
                        {% csrf_token %}
                        <table class="table table-bordered">
                            <tr>
                                <th>Titulo<span style="color: red;">*</span></th>
                                <td> <input type="text" class="form-control" name="title" placeholder="Titulo da tarefa" required maxlength="20"> </td>
                            </tr>
                            <tr>
                                <th>Tarefa<span style="color: red;">*</span></th>
                                <td> 
                                    <textarea class="form-control" id="text_area" name="detail" placeholder="Ex: Corrigir o bug no crud do sistema" required maxlength="255"></textarea>
                                    <span><span class="counter">0</span>/256</span>
                                    <input type="button" class="btn btn-primary" id="limpar" style="margin-top: 5px; float: right; width: 90px;" value="Limpar">
                                 </td>
                            </tr>
                            <tr>
                                <th>Nome do encarregado<span style="color: red;">*</span></th>
                                <td> <input type="text" class="form-control" name="name" placeholder="Ex: João pipa de bambú" required maxlength="30"> </td>
                            </tr>
                            <tr>
                                <th>Status<span style="color: red;">*</span></th>
                                <td>
                                    <input type="text" class="form-control" name="status" placeholder="Ex: Fazendo" value="{{post.status}}" required maxlength="7"> 
                                </td>
                            </tr>
                            <tr>
                                <th>Data<span style="color: red;">*</span></th>
                                <td> <input type="text" class="form-control" name="data" placeholder="ano-mês-dia" required maxlength="10"> </td> 
                            </tr>
                            <tr>
                                <td colspan="2" align="right"> 
                                    <a href="/" class="btn btn-secondary">Voltar</a>
                                    <button type="submit" class="btn btn-primary">Criar tarefa</button> 
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <script src="../static/js_project/actions.js"></script>
    </body>
</html>